<footer class="footer">
  <p>Stay prepared for any weather condition with our reliable and up-to-date
    weather forecasts. Powered by Weatherstack and positionstack, we bring you
    accurate weather information for your location so you can plan your day
    ahead. Visit this application to stay informed and never get caught in the
    rain again!</p>
  <p>Created by Jovan Lanutan</p>
</footer>